body {
    padding-top: 50px;
    background-color: #dbe6f8;
    background: url(../images/body-bg.png);

}

/*
login form
 */

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
    max-width: 420px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-signin-heading {
}

.checkbox {
    margin-bottom: 30px;
}

.checkbox {
    font-weight: normal;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#body {

}

.navbar {
    height: 50px;
    background: url(../images/navbar-short.jpg);
    background-color: #003466;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 20px;
}

.nav-link {
    color: #fff;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

.nav-link:hover {
    color: #f7e1b5;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

#footer {
    background-color: #003466;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

#footer-links {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #87d5fa;
}

#footer-links a {
    color: #000000;
}

.userbar {
    background-color: #1d1e1f;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
}

.table {
    background-color: #ffffff;
}

.table th {
    background-color: #0f3e68;
    color: #fff;
    vertical-align: middle;
}

.table td {
    vertical-align: middle;
}

input.required {
    border: 2px solid #255625;
}

.table td.centered, .table th.centered {
    text-align: center;
}

hr {
    width: 100%;
    color: black;
    height: 1px;
    background-color: black;
}

.modal-header {
    background-color: #0f3e68;
    color: #ffffff;
}

.modal-header button {
    color: #ffffff;
}

.unchangable {
    background-color: #ff9 !important;
}


.requiredStar {
    color: darkred;
    font-size: 12px;
    font-weight: bold;
}

tr.success {
    background-color: lightblue !important;
}

